@font-face {
    font-family: DSPro55Rg;
    src: url(../fonts/Linotype\ -\ NHaasGroteskDSPro-55Rg.otf);
}

@font-face {
    font-family: DSPro65Md;
    src: url(../fonts/Linotype\ -\ NHaasGroteskDSPro-65Md.otf);
}

@font-face {
    font-family: TXStd55Rg;
    src: url(../fonts/Linotype\ -\ NHaasGroteskTXStd-55Rg.otf);
}

@font-face {
    font-family: TXStd65Md;
    src: url(../fonts/Linotype\ -\ NHaasGroteskTXStd-65Md.otf);
}